
# Pandas Ecommerce Purchases Exercise (by Jose Portila)

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.

** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [9]:
#pip install pandas

In [10]:
import pandas as pd
import os #for establishing working directory

In [11]:
path = 'C://Users//hussainsarfraz//0_Oxford_Course'
os. chdir(path) #path would be the new working directory
os. getcwd() #getting current working directory

'C:\\Users\\hussainsarfraz\\0_Oxford_Course'

In [12]:
ecom = pd.read_csv('Ecommerce Purchases.csv')

### Exercise 1
**Check the head of the DataFrame.**

In [13]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,20-Feb,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,18-Nov,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,19-Aug,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,24-Feb,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,25-Oct,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

### Exercise 2
** How many rows and columns are there? **

In [14]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  float64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(2), int64(1), object(11)
memory usage: 1.1+ MB

### Exercise 3
** What is the average Purchase Price? **

In [28]:
price_mean = ecom.loc[:,'Purchase Price'].mean() #1st method
# price_mean = ecom['Purchase Price'].mean() #2nd method

print(price_mean)

50.347302

### Exercise 4
** What were the highest and lowest purchase prices? **

In [30]:
high_purchase_price = ecom['Purchase Price'].max()
print(high_purchase_price)

99.99

In [32]:
min_purchase_price = ecom['Purchase Price'].min()
print(min_purchase_price)

0.0

In [33]:
ecom.describe() #only including columns that are floats

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699940e+14        548.000000       50.505000
75%    4.492295e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

### Exercise 5
** How many people have English 'en' as their Language of choice on the website? **

In [38]:
value_count = ecom['Language'].value_counts()['en']
print(value_count)

1098

In [71]:
dataset_of_TF_values = ecom.Language.str.contains('en') #this command creates a column of boolean True/False values
dataset_rows_that_contain_en = ecom[dataset_of_TF_values]

print(dataset_rows_that_contain_en.info()) #method 1
#print(dataset_rows_that_contain_en.count()) #method 2

<class 'pandas.core.frame.DataFrame'>
Index: 1098 entries, 11 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           1098 non-null   object
 1   Lot               1098 non-null   object
 2   AM or PM          1098 non-null   object
 3   Browser Info      1098 non-null   object
 4   Company           1098 non-null   object
 5   Credit Card       1098 non-null   float64
 6   CC Exp Date       1098 non-null   object
 7   CC Security Code  1098 non-null   int64
 8   CC Provider       1098 non-null   object
 9   Email             1098 non-null   object
 10  Job               1098 non-null   object
 11  IP Address        1098 non-null   object
 12  Language          1098 non-null   object
 13  Purchase Price    1098 non-null   float64
dtypes: float64(2), int64(1), object(11)
memory usage: 128.7+ KB
None

### Exercise 6
** How many people have the job title of "Lawyer" ? **

In [75]:
TF_dataset_of_lawyer_jobs = ecom.Job.str.contains('Lawyer')

# ecom[TF_dataset_of_lawyer_jobs].info() #method 1
ecom[TF_dataset_of_lawyer_jobs].count() #method 2

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [77]:
print(ecom.Job.str.contains('Lawyer').sum()) #method 3

30

### Exercise 7
** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [86]:
print(ecom['AM or PM'].value_counts())

AM or PM
PM    5068
AM    4932
Name: count, dtype: int64

### Exercise 8
** What are the 5 most common Job Titles? **

In [90]:
ecom['Job'].value_counts().head(5)

Job
Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Designer, jewellery                  27
Name: count, dtype: int64

### Exercise 9
** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [100]:
TF_dataset = ecom['Lot'] == '90 WT'
ecom[TF_dataset]['Purchase Price'] #method 1

513    75.1
Name: Purchase Price, dtype: float64

In [101]:
ecom[ecom.Lot.str.contains("90 WT")]['Purchase Price'] #method 2

513    75.1
Name: Purchase Price, dtype: float64

### Exercise 10
** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [145]:
scientific_notation_to_int = ecom['Credit Card'].astype('int64')
#(scientific_notation_to_int > 4926535242672840) & (scientific_notation_to_int < 4926535242672800)
ecom[(scientific_notation_to_int > 4926535242672853) & (scientific_notation_to_int < 4926555242672853)]['Email'] #method 1

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [150]:
ecom['converted CC num'] = ecom['Credit Card'].astype('int64')
ecom[(scientific_notation_to_int > 4926535242672853) & (scientific_notation_to_int < 4926555242672853)]['converted CC num']

1234    4926540000000000
Name: converted CC num, dtype: int64

### Exercise 11
** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [160]:
TF_dataset = (ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] > 95)
TF_dataset.value_counts() #method 1

False    9961
True       39
Name: count, dtype: int64

In [161]:
ecom[TF_dataset].count() #method 2

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
converted CC num    39
dtype: int64

### Exercise 12
** Hard: How many people have a credit card that expires in 2025? **

In [168]:
ecom['Credit Card Expiry'] = ecom['CC Exp Date'].astype(str).str[:2].astype(int)

In [171]:
(ecom['Credit Card Expiry'] == 25).value_counts() #method 1

Credit Card Expiry
False    8967
True     1033
Name: count, dtype: int64

In [173]:
TF_dataset = ecom['Credit Card Expiry'] == 25
(TF_dataset == True).count() #method 2

np.int64(10000)

### Exercise 13
** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [174]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price,converted CC num,Credit Card Expiry
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6.011930e+15,20-Feb,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14,6011930000000000,20
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3.337760e+15,18-Nov,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73,3337760000000000,18
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",6.759580e+11,19-Aug,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95,675958000000,19
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6.011580e+15,24-Feb,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04,6011580000000000,24
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6.011460e+15,25-Oct,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82,6011460000000000,25

In [177]:
ecom[['Email ID','Email Provider']] = ecom['Email'].str.split('@', expand=True)

In [179]:
ecom['Email Provider'].value_counts().head(5) #method 1

Email Provider
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64

In [184]:
ecom['Email'].apply(lambda x: x.split('@')).head(5)

0                 [pdunlap, yahoo.com]
1                [anthony41, reed.com]
2    [amymiller, morales-harrison.com]
3       [brent16, olson-robinson.info]
4       [christopherwright, gmail.com]
Name: Email, dtype: object

In [182]:
email_provider_dataset = ecom['Email'].apply(lambda x: x.split('@')[1]) #the lamda x is the value of each row
email_provider_dataset.value_counts().head(5) #method 2

Email
hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: count, dtype: int64